@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg-color: #0a4647;
  --branco-frio: #e4e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: var(--bg-color);
}
.geral-grid {
  display: grid;
  grid-template-columns: 255px 1fr;
  grid-template-rows: auto;
  background-color: var(--bg-color);
  height: 100%;
  padding: 20px;
}
.sidebar {
  display: flex;
  flex-direction: column;

  gap: 35px;
  padding: 35px 20px 25px 0px;
}
.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.sidebar nav #global {
  background-color: rgb(20, 77, 78);
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;

  text-decoration: none;

  border-radius: 25px;

  padding: 15px;
}
.menu-item:hover {
  background-color: rgb(20, 77, 78);
}
.text-menuitem {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.spotwave {
  color: white;
  font-weight: 500;
}
.svg-circle {
  padding: 10px;
  background-color: rgb(40, 91, 92);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-user {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.mini-user img {
  height: 60px;
  width: 60px;

  border-radius: 100%;
}
.mini-user p {
  color: white;
  font-weight: 500;
}
.mini-user a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 5px;
}
.mini-user a:hover {
  background-color: rgb(40, 91, 92);
}

.centro {
  max-height: 94vh;

  display: flex;
  flex-direction: column;

  background: #2e574a;
  background: linear-gradient(
    180deg,
    rgba(46, 87, 74, 1) 0%,
    rgba(28, 28, 28, 1) 80%
  );

  border-radius: 40px;
}
.centro .cabecalho {
  width: 100%;
  max-height: 250px;
  padding: 45px 0px 30px 30px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 40px 40px 0px 0px;
}

.centro .cabecalho #title {
  color: white;
  font-size: 64px;
  font-weight: 600;
}
.centro .cabecalho #info {
  color: white;
  font-size: 24px;
  font-weight: 500;
}
.centro .musics {
  padding: 20px 40px 10px 40px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  max-height: 500px;
  overflow: auto;
}
