@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --cor-fundo: #0A4647; 
  --cinza: #4A4848;
  --verde: #27d96c;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(120deg, #0A4647, #0d2b23, #022c1d, #0A4647);
    background-size: 300% 300%;
    animation: moverFundo 12s ease infinite;
}


body::before {
    content: "";
    position: absolute;
    width: 40vh;
    height: 40vh;
    background: rgba(255, 255, 255, 0.08);
    top: 10%;
    left: 20%;
    border-radius: 50%;
    filter: blur(90px);
}

body::after {
    content: "";
    position: absolute;
    width: 50vh;
    height: 50vh;
    background: rgba(0, 255, 150, 0.12);
    bottom: 5%;
    right: 15%;
    border-radius: 50%;
    filter: blur(100px);
}


.titulo {
    font-size: 6vh;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 6vh;
    z-index: 2;
    text-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.div-login-button {
    width: 45vh;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    background: rgba(255, 255, 255, 0.09);
    border: 1px solid rgba(255, 255, 255, 0.18);

    box-shadow: 0 8px 32px rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);

    border-radius: 2.2vh;
    transition: 0.3s ease;
    cursor: pointer;
    z-index: 2;
}

.div-login-button:hover {
    transform: scale(1.04);
    box-shadow: 0 12px 40px rgba(0,0,0,0.45);
    background: rgba(255, 255, 255, 0.12);
}

.button-login {
    text-decoration: none;
    color: white;
    font-size: 2.4vh;
    font-weight: 500;
}

.logo-spotify {
    color: var(--verde);
    width: 4.8vh;
    height: 4.8vh;
}