body{
    min-height: 100vh;

    display: flex;
    background-color: #282828;
    color: white;
}
header{
    height: 100%;
    background-color: #4A4848;
}
main{
    display: flex;
}
main section #artists_list img{
    width: 200px;
    border-radius: 100%;
}