@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --bg-color: #282828; 
  --cinza: #4A4848;
  --verde: #278B42;
}
body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-color: var(--bg-color);
}
.container {
  display: grid;
  grid-template-columns: 1fr 250px;
  min-height: 100vh;
}
img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
header{
    height: 100%;
    background-color: #282828;
}
main {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-content {
  padding: 20px;
  margin-left: 85px;
}
main section #artists_list img{
    border-radius: 100%;
}
.title{
    color: var(--verde);
    font-size: 50px;
    font-weight: 500;
    margin-top: 20px;
}
.sidebar {
  background-color: var(--cinza);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 25px;
  height: 100vh;
  position: sticky;
  top: 0;
  border-radius: 10px;
}
.text-sidebar{
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-left: 50px;
}
.text-sidebar1{
  font-size: 30px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  margin-left: 85px;
}
.box-nav-item{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
.menu-item{
  text-decoration: none;
  display: flex;
  align-items: flex-end;
  gap: 15px;
}
.svg-nav{
  color: var(--verde);
  width: 40px;
  margin-left: 20px;  
  margin-top: 10px;
}
.box-nav-item:hover  {
  color: var(--verde);
}
.text-sidebar:hover {
  color: var(--verde);
}
.text-sidebar1:hover{
  color: var(--verde);
}

.box-nav-item:hover svg {
  transform: scale(1.1);
  color: #14401f;
  transition: transform 0.3s ease, color 0.3s ease;
}

.box-user{
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.username{
  color: var(--verde);
  font-weight: 400;
  display: flex;
  align-items: center;

}
.fotoperfil{
  border-radius: 20%;
}
.title-artistas{
  color: var(--verde);
  font-weight: 400;
  font-size: 30px;
  margin-top: 50px;
}
.title-generos {
   color: var(--verde);
   font-weight: 400;
  font-size: 30px;
  margin-top: 30px;
}
.artists-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.generos-grid{
  margin-top: 40px;
  display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    /* background-color: white; */
}
.nome-generos {
  padding: 10px;
  background-color: var(--verde);
  border-radius: 8px;
  height: 30px;
}
.box-musica{
    position: fixed;
    right: 350px;
    top: 58%;
    transform: translateY(-50%);
    width: 300px;
    height: 50rem;
    background: var(--bg-color);
    border-radius: 20px;
    padding: 20px 15px;
    /* max-height: 550px; */
     
}

.listagem {
  display: flex;
  gap: 20px;
}
.minhas {
    color: var(--verde);
    font-weight: 500;
    position: fixed;
    right: 400px;
    transform: translateY(-50%);
    height: 93rem;
    padding: 20px 15px;
}
