@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --bg-color: #0A4647; 
  --branco-frio: #E4E6E6;

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: var(--bg-color);

}
.geral-grid{
  display: grid;
  grid-template-columns: 255px 1fr 340px;
  grid-template-rows: auto;
  background-color: var(--bg-color);
  height: 100%;
  padding: 20px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  
  gap: 35px;
  padding: 35px 20px 0px 0px;
}
.sidebar nav{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.sidebar nav #dashboard{
  background-color: rgb(20, 77, 78);
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu-item{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 17px;

  border-radius: 25px;

  padding: 15px;
}
.menu-item:hover{
  background-color: rgb(20, 77, 78);
}
.text-menuitem{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.spotwave{
  color: white;
  font-weight: 500;
}
.svg-circle{
  padding: 10px;
  background-color: rgb(40, 91, 92);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centro{

  background-color: var(--bg-color);
}
.card-centro{
  background-color: var(--branco-frio);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 100%;
}
.fotoperfil{
  border-radius: 50%;
  width: 200px;
}
.usuario{
  display: grid;
  grid-template-columns: 180px 1fr;        
  grid-template-rows: auto auto;
  column-gap: 55px;
  row-gap: 12px;
  margin-left: 30px;
  padding-top: 30px;
}
.grid-foto-perfil{
  grid-column: 1;
  grid-row: 1 / 3;                          
  width: 180px;
  height: 180px;

}
.grid-nomeperfil{
  grid-column: 2;
  grid-row: 1;
}
.grid-vibe{
  grid-column: 2;
  grid-row: 2;
}

.artistas{
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  margin-left: 30px;
}
.img-artistas{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.title-artistas{
  font-weight: 500;
}
.artist-img{
  border-radius: 50%;
  width: 200px;
 }
.lista-musicas{

  background-color: var(--bg-color);
}
.musicas{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-top: 20px;
  padding-left: 20px;
}
.card-musicas{
  height: 100%;
  background-color: white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.caixa-musica{
  width: 280px;
}