<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="">home</a>
            <a href="">user</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Meu Dashboard</h2>
            <div>
                <h1>{{user.display_name}}</h1>
                {% if user_image %}
                <img src="{{ user_image }}" alt="Foto de perfil">
                {% else %}
                <img src="{{ url_for('static', filename='default_user.png') }}" alt="Sem foto">
                {% endif %}
            </div>
            <p>Meus Artistas</p>
            <div id="artists_list">
                {% for artist in artists['items'] %}
                    <img src="{{artist.images[1].url}}" alt="">
                {% endfor %}
            </div>
            <div id="genres_list">
                {% for genre in genres%}
                    <p>{{genre[0]}}</p>
                {% endfor %}
            </div>
        </section>
        <section>
            <h2>Home</h2>
        </section>
    </main>
</body>
</html>
